#app {
  vertical-align: middle;
}

input:first-child {
  padding: 10px 0;
  text-align: center;
  width: 60px;
}

.button-row {
  margin-bottom: 30px;
}

.counter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.counter__button {
  padding: 10px 20px;
  cursor: pointer;
}

.button-row button:first-child {
  margin: 0px 10px;
}

.counter__input {
  color: white;
}

.counter__input--positive {
  background-color: blue;
}

.counter__input--negative {
  background-color: red;
}

.test {
  width: 10px;
  height: 10px;
}
